

</<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Freesma</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body style="background-image: url('../static/images/abstract1.png');">
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary ">
                <a class="navbar-brand" href="#">Freesmo</a>
            </nav>
    <div class="container bg-light" style="min-height: 100%;height: 100%;">
            
            
            <center>

            
    
           <br /><br />
    <h1>Upload new File</h1> <br />
    <form method=post enctype=multipart/form-data action="/uploader" >
        <div class="form-group row col-6 ">
        <select name="model" class="custom-select" >
            
            <option value="models/eccv16/composition_vii.t7">composition</option>
            <option value="models/eccv16/the_wave.t7">the wave</option>
            <option value="models/instance_norm/candy.t7">candy</option>
            <option value="models/instance_norm/feathers.t7">feathers</option>
            <option value="models/instance_norm/la_muse.t7">la_muse</option>
            <option value="models/instance_norm/mosaic.t7">candy</option>
            <option value="models/instance_norm/starry_night.t7">starry night</option>
            <option value="models/instance_norm/the_scream.t7">the scream</option>
            <option value="models/instance_norm/udnie.t7">udnie</option>
         
          </select>
        </div>
        
     <!--- <input type=file name=file  /><br/><br /> -->
    
     <div class="form-group custom-file col-6">
            <input type="file" class="custom-file-input" id="customFile" name="file">
            <label class="custom-file-label" for="customFile">Choose file</label>
          </div>
     
          <br /><br />
      <div class="form-group col-6">
      <input type="submit" class="btn btn-primary" value=Upload />
    </div>
    </form>
    {% if imgurl!= None %}
    <div class="container">
    <img src={{imgurl}} name="img" height="400" width="400"/>
    </div>
    {% endif %}

</center>



</div>
</body>
</html>
<script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function() {
          var fileName = $(this).val().split("\\").pop();
          $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
        </script>

